body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.clock {
    font-size: 15vw;
    font-weight: bold;
    font-family: monospace; /* Gleichmäßige Zeichenbreite */
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.7);
    margin: 0;
    letter-spacing: 1px; /* Verbesserte Lesbarkeit */
}

.status {
    font-size: 5vw;
    min-height: 6vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin: 20px 0;
}

.progress-container {
    width: 80%;
    height: 15px;
    background-color: #555555;
    border-radius: 8px;
    margin: 20px auto;
    overflow: hidden;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: none; /* Standardmäßig ausgeblendet */
}

/* Nur während Pausen anzeigen */
.break-mode .progress-container {
    display: block; /* Bei aktiver Pause anzeigen */
}

.progress-bar {
    height: 100%;
    background: linear-gradient(to right, #ffffff, #f0f0f0);
    width: 0%;
    transition: width 1s linear;
    border-radius: 7px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
}

.connection-status {
    font-size: 1.5vw;
    display: flex;
    gap: 5px;
    opacity: 0.7;
}

.connection-status span {
    display: none;
}

#status-connected {
    color: #4CAF50;
    display: none;
}

#status-warning {
    color: #FF9800;
    display: none;
}

#status-error {
    color: #FF5722;
    display: none;
}

/* Pausenmodus */
body.break-mode {
    background-color: #f9c941;
}

.break-mode .clock,
.break-mode .status {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
